@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');


#Container{
    width: 100%;
    height: 900px;
    background-image: url(../images/fundo2.png);
    background-size: cover;
}

.cartao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px;
}

.cartao h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    color: #E4FFF8;
    margin-left: 200px;
    margin-top: 20px;
}

.cartao img{
    width: 700px;
}

.conta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conta h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    color: #6F1799;
    margin-top: 220px;
    margin-right: 120px;
}

.conta img{
    width: 700px;
}